.topics-container {
  width: 200px;
  height: 100%;
  background-color: #34495e;
  color: white;
  padding-left: 40px;
}

.topics-list {
  line-height: 30px;
  text-align: left;
  list-style: none;
}

.topic {
  cursor: pointer;
}

.active-topic {
  color: pink;
}
